
@{
    ViewBag.Title = "Index";
}

<h2><span style="color:red;">angularJS_Test</span> Demos 演示列表</h2>

<hr />
<div ng-controller="AppController1">
    <ul>
        <li ng-model="url = '@Url.Action("Demo1","Default")'">Demo1：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo2","Default")'">Demo2：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo3","Default")'">Demo3：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo4","Default")'">Demo4：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo5","Default")'">Demo5：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo6","Default")'">Demo6：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo7","Default")'">Demo7：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
        <li ng-model="url = '@Url.Action("Demo8","Default")'">Demo8：<a href="{{url}}">（当前）进入</a> <a href="{{url}}" target="_blank">（新窗口）进入</a></li>
    </ul>
</div>

<script>
    //定义一个模块
    var app = angular.module('appModule', []);


    app.controller('AppController1', ['$scope', function ($scope) {
    }]);
</script>